.values-section {
  background: #ffff;
}

.values-subtitle {
  font-weight: 600;
  letter-spacing: 2px;
}

.values-title {
  font-size: 40px;
  font-weight: 700;
}

.values-title span {
  color: #ff6a00;
}

.values-description {
  max-width: 900px;
  margin: 20px auto 0;
  color: black;
}

.value-card {
  background: #e9e9e9;
  border-radius: 25px;
  padding: 50px 20px;
  transition: 0.3s;
  height: 100%;
}

.value-card:hover {
  transform: translateY(-5px);
}

.value-icon {
  color: #777;
  margin-bottom: 20px;
}

.active-icon {
  color: #ff6a00;
}

.value-card h5 {
  font-weight: 700;
}

.values-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-btn {
  border: 1px solid #ff6a00;
  background: transparent;
  padding: 8px 14px;
  border-radius: 12px;
  color: #ff6a00;
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
}

.dot.active {
  background: #ff6a00;
}

/* Slider */
.slider-container {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 25%; /* 100% / 4 */
  padding: 10px;
}

.value-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}


@media (max-width: 992px) {
  .slide {
    flex: 0 0 50%; /* 2 kotak */
  }
}

