.values-section {
  background: #ffff;
}

.values-subtitle {
  font-weight: 600;
  letter-spacing: 2px;
}

.values-title {
  font-size: 40px;
  font-weight: 700;
}

.values-title span {
  color: #ff6a00;
}

.values-description {
  max-width: 900px;
  margin: 20px auto 0;
  color: black;
}

.value-card {
  background: #e9e9e9;
  border-radius: 25px;
  padding: 50px 20px;
  transition: 0.3s;
  height: 100%;
}

.value-card:hover {
  transform: translateY(-5px);
}

.value-icon {
  color: #777;
  margin-bottom: 20px;
}

.active-icon {
  color: #ff6a00;
}

.value-card h5 {
  font-weight: 700;
}

.values-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-btn {
  border: 1px solid #ff6a00;
  background: transparent;
  padding: 8px 14px;
  border-radius: 12px;
  color: #ff6a00;
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
}

.dot.active {
  background: #ff6a00;
}

